/* index_show_menu */
#cor_de_fundo {
  background-color: rgb(173, 212, 212);
}
#logo {
  width: 200px;
  height: 200px;
}
.nav-item {
  padding: 20px;
  font-size: 10px;
}

/* carrousel */

#myCarousel {
  min-height: 50%;
  min-height: 50vh;

  display: flex;
  align-items: center;
}
#pChaveiro {
  font-size: 40px;
}
#placaQrCode {
  font-size: 40px;
}
#broches {
  font-size: 40px;
}

/* footer */
#column1 {
  font-size: 40px;
  background-color: cadetblue;
}
#column2 {
  /* font-size: 40px; */
  background-color: cadetblue;
}

.text-footer-contact {
  font-size: 15px;
  text-align: left;
}

#razao-footer {
  text-align: center;
  font-size: 20px;
  background-color: cadetblue;
}
.text-footer-payment {
  font-size: 20px;
}

/*Produto*/
#nameProduto {
  text-align: center;
  font-size: 30px;
  color: blueviolet;
}
#cardProduto {
  width: 40rem;
}
#quantidadeProduto {
  text-align: center;
}
