/* index_show_menu */
#logo {
  width: 200px;
  height: 200px;
}

#name {
  font-size: 100px;
}
#insta {
  width: 50px;
  height: 50px;
}
#name_insta {
  font-size: 30px;
  color: blue;
}

#pro {
  font-size: 20px;
}
#adm {
  font-size: 20px;
}
#ras {
  font-size: 20px;
}
#fal {
  font-size: 20px;
}

/* carrousel */

#myCarousel {
  min-height: 50%;
  min-height: 50vh;

  display: flex;
  align-items: center;
}
#pChaveiro {
  font-size: 40px;
}
#placaQrCode {
  font-size: 40px;
}
#broches {
  font-size: 40px;
}

/* footer */
#column1 {
  font-size: 40px;
  background-color: cadetblue;
}
#column2 {
  /* font-size: 40px; */
  background-color: cadetblue;
}

.text-footer-contact {
  font-size: 15px;
  text-align: left;
}

#razao-footer {
  text-align: center;
  font-size: 20px;
  background-color: cadetblue;
}
.text-footer-payment {
  font-size: 20px;
}
.buttons {
  width: 100px;
  height: 40px;
}
